/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  section {
    top: 2rem;
  }
  #tag_filter_btns_container {
    position: relative;
  }
  .tag_btns_container {
    flex-direction: column;
  }
  #recipes {
    justify-content: center;
  }
  #recipes li {
    width: -webkit-fill-available;
  }
  .card-container {
    max-width: 100%;
    min-width: 274px;
  }
  .card_image-container {
    border-radius: 5px 5px 0 0;
  }
  .card_items-container {
    border-radius: 0 0 5px 5px;
  }
  .card_items-title {
    flex-direction: column;
  }
  .card_items-recipe {
    flex-direction: column;
    align-items: flex-start;
  }
  .recipes_ingredients-list {
    width: 100%;
    margin-bottom: 1em;
  }
  .recipe_description {
    width: 100%;
  }
  .recipe_description p {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  #tag_filter_btns_container {
    position: relative;
  }
  .tag_btns_container {
    flex-direction: column;
  }
  #recipes {
    justify-content: center;
  }
  .card-container {
    max-width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #recipes {
    gap: 1.5rem;
  }
  .card-container {
    max-width: 350px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #recipes{
        gap: 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    #recipes > li{
        width: 31%;
    }
    .card-container{
        max-width: 380px;
        height: 364px;
    }
    .card_items-container{
        height: 186px;
    }

}
